.about {
  border-radius: 15px;
  margin-top: 10px;
  display:flex;
  position:relative;
  padding: 20px;
}

.about-text {
  color: #776e61;
  max-width: 500px;
  display: flex;
  font-size: 20px;
  font-weight: 500;
}

.text-container {
  border:black;
}

.profile-pic{
  max-height: 300px;
  border-radius: 50%;
  padding: 5px;
  border: 3px dotted #191970;
  
}