.header-container {
  display: flex;
  background-color: #52e100;
  border-radius: 50px;
  padding-left: 10px;
  align-content: center;
}

.header-itens {
  margin: 10px;
  display: flex;
  color: black;
  border-radius: 50px;
  padding: 10px;
  background-color: #3cb371;
  transition: box-shadow .5s;
  border: 1px solid black;
}

.header-itens:hover {
  box-shadow: 7px 7px rgba(33,33,33,.2);
  transform: translateY(-1px)
}